body {
    background: url("exercise1_body_background.png") repeat-x;
}

#container {
    width: 960px;
    margin: 0 auto;
    background: none;
    font-family: Arial, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    padding-bottom: 5px;
    border-bottom: solid;
}

nav {
    background: red;
    height: 40px;
}

nav ul {
    display: inline;
}

nav ul li {
    display: inline;
    padding: 10px;
}

nav ul ul li {
    display: none;
}

nav ul ul li:hover {
    display: block;
    padding: 0;
}

.top-bar {
    background: yellow;
    height: 200px;
    color: #777;
}

.top-bar h3 {
    font-family: serif;
    font-style: italic;
}

.form-left {
    background: blue;
    height: 300px;
    float: left;
    width: 33%;
}

.form-left ul {
    width: 80%;
}

input, textarea {
    display: block;
    font-size: 14px;
    font-style: italic;
    font-family: serif;
    padding: 10px;
    border: 4px solid #ffffff;
    background-color: #dddddd;
    width: 90%;
}

.search {
    display: inline;
    width: auto;
    height: 30px;
    font-family: sans-serif;
    font-style: normal;
    font-size: 8pt;
    color: #000;
    background-color: black;
    border: none;
    border-radius: 50%;
}

/*.form-center {*/
    /*height: 300px;*/
    /*float: left;*/
    /*width: 2%;*/
/*}*/

.form-right {
    background: pink;
    height: 300px;
    float: left;
    width: 67%;
}

textarea {
    height: 250px;
    margin: 10px auto;
}

footer {
    background: green;
    height: 40px;
    clear: both;
    color: gray;
}

footer h3 {
    font-style: italic;
    font-family: serif;
    font-size: 10pt;
    padding: 10px;
    display: inline;
}

footer a {
    color: gray;
}

footer ul {
    list-style: none;
    display: inline;
}

footer ul li {
    display: inline;
    border-bottom: solid;
    padding: 10px 20px 0 20px;
}

button {
    border-radius: 50%;
    padding: 10px 20px;
    background-color: rebeccapurple;
    color: lightgray;
}