html, body, header, footer, h1, h3, .nav-bar, li, .top, .bottom-bar, button, input, a, .nav {
    padding: 0;
    border: 0;
    margin: 0;
}

.nav-bar {
    /*make these inline, black with white text, gray above the black bar*/
    background: #222222;
    color: #ffffff;
}

.nav {
    padding: 8px 0 8px 0;
    font-size: 12px;
    font-family: Arial, sans-serif;
    margin-left: 120px;
    list-style: none;
}

.top {
    background: #d0d0d0;
    padding-top: 9px;
    padding-bottom: 50px;
}

li {
    /*underline when hovering on one option, auto open the dropdown when hovering*/
    text-decoration: none;
    color: #ffffff;
    float: left;
    padding: 0 40px 0 20px;
}

ul ul li {
    float: none;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

li a {
    text-decoration: none;
    color: #ffffff;
}

li:hover {
    border-bottom: 1.5pt solid #ffffff;
    padding-bottom: 3pt;
}

ul ul {
    display: none;
    position: absolute;
    margin: 10px 0 0 0;
    padding: 0;
    background-color: black;
}

li:hover ul {
    display: block;
}

h1, h3 {
    color: #666666;
}

h1 {
    padding-top: 20px;
    font-family: "Arial Narrow", sans-serif;
    font-size: 30px;
}

h3 {
    font-family: serif;
    font-size: 14px;
    font-style: italic;
}

.bottom_bar a {
    color: #999999;
    font-family: sans-serif;
    /*display: inline;*/
    font-size: 12px;
}

.bottom_bar li {
    color: #666666;
    border-bottom: 1.5pt solid #666666;
    padding-bottom: 1pt;
    list-style: none;
}

button {
    /*display: inline;*/
}

input {
    display: block;
    font-size: 12px;
    font-style: italic;
    font-family: serif;
    padding: 10px;
    border: 4px solid #ffffff;
    background-color: #dddddd;
}

.search {
    height: 13px;
    display: inline;
    border: none;
    background-color: #111111;
    font-style: normal;
    font-family: Arial, sans-serif;
    font-size: 10px;
}

textarea {
    display: inline;
    size: 500px 50px;
}

.clear {
    clear: both;
}